@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
